# Dependencies
/node_modules
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment variables
.env
.env.*
!.env.example

# EAS
.eas.json
eas.json
credentials.json

# macOS
.DS_Store
*.pem

# Android
android/**/build/
android/app/debug
android/app/release
android/**/*.keystore
android/local.properties

# iOS
ios/build/
ios/Pods/
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.pbxuser
ios/*.perspectivev3
ios/**/*sync/
ios/**/.sconsign.dblite
ios/**/.tags*
ios/**/.symlinks/
ios/**/profile
ios/**/xcuserdata
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Temporary files
*.log
*.tmp
*.temp

# Testing
/coverage

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Build
/build
*.apk
*.aab
*.ipa

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local
